<div id="<%= dom_id mihan_mowatan %>">
  <p>
    <strong>Result:</strong>
    <%= mihan_mowatan.result %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= mihan_mowatan.company_name %>
  </p>

</div>
