<h1>Editing mihan mowatan</h1>

<%= render "form", mihan_mowatan: @mihan_mowatan %>

<br>

<div>
  <%= link_to "Show this mihan mowatan", @mihan_mowatan %> |
  <%= link_to "Back to mihan mowatans", mihan_mowatans_path %>
</div>
